.resume-page {
    text-align: center;
}

.resume-page ul li {
    list-style: none;
}

.resume-link{
    transition-duration: 0.4s;
    background-color: #5eb1bf; /* Green */
    border: none;
    color: #454955;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.resume-link:hover {
    background-color: #6bd3e6;
}

.resume-list {
    background-color: #454955;
    color: #5eb1bf;
    font-weight: 600;
    font-size: 24px;
}

.resume-list h3 {
    border: #6bd3e6 solid 5px;
    border-radius: 10px;
}

.best-work-div a { 
    transition-duration: 0.4s;
    background-color: #5eb1bf; /* Green */
    border: none;
    color: #454955;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
